Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://ianzweig.github.io/cse455_a4" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Ian Zweig Assignment 4 Schema Definition
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Phone" type="PhoneType" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:integer"/>
			<xsd:element name="Street" type="xsd:string"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="State" type="xsd:string"/>
			<xsd:element name="Zip" type="xsd:integer"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
			
			
<!--
 Define the allowed format for the Phone number with a regular exp. 
-->
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
